* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
html {
  background-image: url("../images/22.jpeg");
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;

  /* rgba property value, where the 4th argument is the opacity */
}
header {
  background-image: url("../images/22.jpeg");
  border-bottom: 3px ridge black;
}

.header {
  text-align: center;
  padding: 32px;
}


#logoimage {
    float: left;
    max-width: 200px;
    width: 100%;
    margin: 10px 2em;
}
header h2 {
    font-size: 400%;
    font-variant: small-caps;
    color: gray;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
}
h1 {
  font-size: 300%;
  color: maroon;
  text-align: center;
  text-shadow: 1px 1px 1px white, -1px -1px 1px #ffffff, -1px 1px 1px #f8f8f8, 1px -1px 1px #ffffff;
}
header a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
}
header h3 {
    font-size: 100%;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  max-width: 450px;
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 15px;
  border: 3px outset white;
}

footer {
  background-image: url("../images/22.jpeg");
  padding: 30px 0;
  border-top: 3px ridge whitesmoke;
}
footer p {
  text-align: center;
  font-size: 80%;
  font-variant: small-caps;
  font-weight:bold;
  color: white;
  text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
} 
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    max-width: 100%;
  }
}